# Temporary test files
temp_cache_test.go
**/tempCodeRunnerFile.go

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
